{% extends 'corylayout.html' %}
{% block content%}
    <div class="media">
        <image class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account=-heading">Welcome Admin{{ form.email }} </h2>
        </div>
    </div>
    {% for detail in details %}
    <article class="media content-section">
        <!-- <img src="{{ url_for('static', filename='img/' + detail.creator.image_file)}}" class="rounded-circle article-img" alt=""> -->
        <div class="media-body">
            <div class="article-metadata">
                <p class='mr-2' href='#'>Username: {{ detail.account_name }} </p>
                <small class="text-muted"> {{ detail.date_added.strftime('%d-%m-%Y') }}</small>
            </div>
            <!-- <h3><a class="article-title" href="https://{{ detail.site_name }}.com">{{ detail.site_name }}</a></h3> -->
            <h5><a class="article-title" href="#">{{ detail.site_name }}</a></h5>
            <p class="article-content">Email: {{ detail.site_email }}</p>
            <p class="article-content">Password: {{ detail.site_password }}</p>
            <!-- <button class="btn btn-info "><a href="">Update</a></button> -->
        </div>
    </article>
    {% endfor %}


{% endblock content %}
